<p id="notice"><%= notice %></p>


<h1>Lista de Currículos</h1>

<div class="container well">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Escola</th>
        <th>Semestres</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @grads.each do |grad| %>
        <tr>
          <td>
            <%= link_to "#{grad.name}", grad %>
          </td>      
          <td>
            <%= link_to "#{grad.school.name}", school_path(grad.school_id) %>
          </td>  
          <td>
            <%= grad.max %>
          </td>
          <td>
            <%= link_to 'Editar Semestres', edit_grad_course_path(grad), type: "button", class: "label label-success" %>
            <%= link_to 'Editar', edit_grad_path(grad), type: "button", class: "label label-primary" %>
            <%= link_to 'Deletar', grad, type: "button", class: "label label-danger", method: :delete, data: { confirm: 'Tem certeza?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Novo Currículo', new_grad_path, type: "button", class: "btn btn-success btn-sm"  %>