<p id="notice"><%= notice %></p>
<h1><%= @grad.name %></h1>
<div class="container well">
  <h4><%= link_to "#{@grad.school.name}", school_path(@grad.school_id) %></h4>
  <% if @grad.courses.any? %>
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <% (1..5).each do |sem| %>
                <th width="20%"><%= "#{sem}ยบ Semestre" %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr> 
              <% (1..5).each do |sem| %>
                <% @sem = sem %>
                  <td>
                    <% @grad.grad_courses.where(semester: @sem).each do |gc| %>
                      <%= link_to gc.course.name, gc.course, type: "button", class: "label label-info" %></br>
                    <% end %>
                  </td>
              <% end %>
            </tr> 
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <% (6..@grad.max).each do |sem| %>
                <th width="20%"><%= "#{sem}ยบ Semestre" %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr> 
              <% (6..@grad.max).each do |sem| %>
                <% @sem = sem %>
                  <td>
                    <% @grad.grad_courses.where(semester: @sem).each do |gc| %>
                      <%= link_to gc.course.name, gc.course, type: "button", class: "label label-info" %></br>
                    <% end %>
                  </td>
              <% end %>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>

  <% end %>
  
</div>
<%= link_to 'Edit', edit_grad_path(@grad) %> |
<%= link_to 'Back', grads_path %>
