<p id="notice"><%= notice %></p>
<h1><%= @grad.name %></h1>
<div class="container well">
  <div class="row">
    <div class="col-sm-1">
      <strong>Escola</strong>
    </div>
    <div class="col-sm-11">
      <%= link_to "#{@grad.school.name}", school_path(@grad.school_id) %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1">
      <strong>Tempo</strong>
    </div>
    <div class="col-sm-11">
      De <%= @grad.min %> a <%= @grad.max %> semestres.
    </div>
  </div> 
  
  <% if @grad.courses.any? %>
    <div class="row">
      <div class="col-sm-1">
        <strong>Cursos:</strong>
      </div>
      <div class="col-sm-11">
        <ul class="list-inline">
          <%= render @grad.courses %>
        </ul>
        
      </div>
    </div>

  <% end %>
  
</div>
<%= link_to 'Edit', edit_grad_path(@grad) %> |
<%= link_to 'Back', grads_path %>
