<p id="notice"><%= notice %></p>
<h1>Escolas Cadastradas</h1>

<div class="container well">
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm-4">
          Nome
        </th>      
        <th class="col-sm-2">
          Cidade
        </th>      
        <th class="col-sm-1">
          Tipo
        </th>      
        <th class="col-sm-3">
          Site
        </th>
      </tr>
    </thead>
    <tbody>

      <% @schools.each do |school| %>
        <tr>
          <td>
            <%= link_to "#{school.name}", school %>
          </td>      
          <td>
            <%= school.city %>
          </td>      
          <td>
            <% if school.public %>
              Pública
            <% else %>
              Privada
            <% end %>
          </td>      
          <td>
            <%= school.website %>
          </td>
          <td>
            <%= link_to 'Editar', edit_school_path(school), type: "button", class: "label label-primary" %>
            <%= link_to 'Deletar', school, type: "button", class: "label label-danger", method: :delete, data: { confirm: 'Tem certeza?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Nova Escola', new_school_path, type: "button", class: "btn btn-success btn-sm" %>