<p id="notice"><%= notice %></p>

<h1>
  <%= @school.name %>
  </br>
  <small><%= @school.city %></small>
  <small> | </small>
  <small>
    <% if @school.public %>
      Pública
    <% else %>
      Privada
    <% end %>
  </small>
  <small> | </small>
  <small><%= link_to "#{@school.website}", "#{@school.website}", :target => "_blank" %></small>
</h1>
<div class="container well">
  <div class="row">
    <div class="col-sm-1">
      <strong>Graduações</strong>
    </div>
    <div class="col-sm-11">
      <% if @school.grads.any? %>
        <ul class="list-inline">
          <%= render @school.grads %>
        </ul>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-1">
      <strong>Cursos</strong>
    </div>
    <div class="col-sm-11">
      
      <% if @school.courses.any? %>
        <ul class="list-inline">
          <%= render @school.courses %>
        </ul>
      <% end %>
      
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_school_path(@school) %> |
<%= link_to 'Voltar', schools_path %>
