<p id="notice"><%= notice %></p>

<h1>Cursos Cadastrados</h1>


<div class="container well">
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm-2">
          Nome
        </th>      
        <th class="col-sm-1">
          Horas aula
        </th>
        <th class="col-sm-7">
          Descrição
        </th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
        
          <td>
            <%= link_to "#{course.name}", course %>
          </td>
          <td>
            <%= course.hours %>
          </td>
          <td>
            <%= course.desc %>
          </td>
  
          <td>
            <%= link_to 'Editar', edit_course_path(course), type: "button", class: "label label-primary" %>
            <%= link_to 'Deletar', course, type: "button", class: "label label-danger", method: :delete, data: { confirm: 'Tem certeza?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'Novo Curso', new_course_path, type: "button", class: "btn btn-success btn-sm"  %>
