<p id="notice"><%= notice %></p>
<div class="container">
  <div class="text-center">
    <h1>Cursos Cadastrados</h1>
  </div>
  
  <div class="container well">
  
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          Nome
        </div>      
        <div class="col-sm-2">
          Horas aula
        </div>
        <div class="col-sm-2">
          Descrição
        </div>
      </div>
      <% @courses.each do |course| %>
      <hr>
        <div class="row">
          <div class="col-sm-2">
            <%= link_to "#{course.name}", course %>
          </div>
          <div class="col-sm-2">
            <%= course.hours %>
          </div>
          <div class="col-sm-6">
            <%= course.desc %>
          </div>
  
          <div class="col-sm-1">
            <%= link_to 'Editar', edit_course_path(course), type: "button", class: "btn btn-primary btn-xs" %>
          </div>
          <div class="col-sm-1">
            <%= link_to 'Deletar', course, type: "button", class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <%= link_to 'Novo Curso', new_course_path, type: "button", class: "btn btn-success btn-sm"  %>
</div>