<div class="container">
  
  <p id="notice"><%= notice %></p>
  <div class="container well">
    <p>
      <strong>Escola:</strong>
      <%= School.find(@course.school_id).name %>
    </p>
    <p>
      <strong>Nome:</strong>
      <%= @course.name %>
    </p>
    
    <p>
      <strong>Horas/Aula:</strong>
      <%= @course.hours %>
    </p>
    
    <p>
      <strong>Descrição:</strong>
      <%= @course.desc %>
    </p>
  </div>
  <%= link_to 'Editar', edit_course_path(@course) %> |
  <%= link_to 'Voltar', courses_path %>
</div>